*.iml
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.log
.idea/
out/
node_modules/
tmp/
reports/
hsf.configuration/
target/
tree.txt
/bin/
*.settings
*.classpath
*.MF
.classpath
eclipse.bat
.settings/
package.bat
package&redepoly.bat
client/bin/*
dep
log
tempDir/
rebel.xml
web/bin/
web/velocity.log*
target/
*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/

### logs ###
logs/
*/logs/

.DS_Store
../.DS_Store
../.DS_Store
